body{
    background-color: rgb(242, 238, 238);
}
.contact{
    padding: 4%;
    height: 850px;
}
.col-md-3{
    background: #353535;
    padding: 4%;
    border-top: 0,5px solid black;
    border-left: 0,5px solid black;
    border-bottom: 0,5px solid black;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top:0,5px solid black ;
    border-right:0,5px solid black ;
    border-bottom:0,5px solid black ;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:hover{
    background: #a4a4a4;

}
.contact-form button:focus{
    box-shadow:none;
}
